@media (min-width: 1071px) {
    .content__center {
        display: flex;
    }
}

@media (max-width: 1040px) {
    .grid-win {
        display: none !important;
    }
    .grid-404 {
        display: block !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .grid-404-text {
        font-size: 50px;
        color: #888;
    }
}
